<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="portable45-net45+wp8" />
  <package id="System.Collections" version="4.3.0" targetFramework="portable46-net451+win81" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="portable46-net451+win81" />
  <package id="System.Runtime" version="4.3.0" targetFramework="portable46-net451+win81" />
</packages>
